%tr
  %td
    %input{ type: :checkbox, name: :checkbox, value: pending_issue.issue.id}
  %td= pending_issue.issue.name
  %td= pending_issue.issue.year
  %td= pending_issue.issue.number
  %td= pending_issue.issue.filename

