.panel.panel-default
  .panel-heading
    .panel-title Scan
  .panel-body
    %form{ action: import_list_scan_path, method: :post }
      .form-group
        %label Select a folder to import :
        %input.form-control{ type: :text }

      %button.btn.btn-lg.btn-primary{ type: :submit } Scan Folder
