%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar Menu
    %ul.sidebar-menu
      %li.header Overview
      / Optionally, you can add icons to the links
      %li.active
        %a{:href => "#"}
          %i.fa.fa-link
          %span Watchlist
      %li
        %a{:href => "#"}
          %i.fa.fa-link
          %span Unmatched list
      %li.treeview
        %a{:href => "#"}
          %i.fa.fa-link
          %span Import list
    / /.sidebar-menu
  / /.sidebar
