<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Overview</li>
        <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="#"><i class='fa fa-link'></i> <span>Watchlist</span></a></li>
      <li><a href="#"><i class='fa fa-link'></i> <span>Unmatched list</span></a></li>
      <li class="treeview">
        <a href="#"><i class='fa fa-link'></i> <span>Import list</span></a>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
